.vs/Proyecto_Desarrollo_de_Sistemas/DesignTimeBuild/.dtbcache.v2 
.vs/Proyecto_Desarrollo_de_Sistemas/v16/.suo
bin/Debug/netcoreapp3.1/Proyecto_Desarrollo_de_Sistemas.Views.dll
bin/Debug/netcoreapp3.1/Proyecto_Desarrollo_de_Sistemas.dll
obj/Debug/netcoreapp3.1/Proyecto_Desarrollo_de_Sistemas.Views.dll (79%)
obj/Debug/netcoreapp3.1/Proyecto_Desarrollo_de_Sistemas.dll (87%)
obj/Debug/netcoreapp3.1/Razor/Views/About/Index.cshtml.g.cs
obj/Debug