.vs/Proyecto_Desarrollo_de_Sistemas/DesignTimeBuild/.dtbcache.v2 
.vs/Proyecto_Desarrollo_de_Sistemas/v16/.suo
bin/Debug/netcoreapp3.1/Proyecto_Desarrollo_de_Sistemas.Views.dll
bin/Debug/netcoreapp3.1/Proyecto_Desarrollo_de_Sistemas.dll
obj/Debug/netcoreapp3.1/Proyecto_Desarrollo_de_Sistemas.Views.dll (79%)
obj/Debug/netcoreapp3.1/Proyecto_Desarrollo_de_Sistemas.dll (87%)
obj/Debug/netcoreapp3.1/Razor/Views/About/Index.cshtml.g.cs
obj/Debug
obj/Debug/netcoreapp3.1/Proyecto_Desarrollo_de_Sistemas.pdb (HEAD vs. b23cbe2493b04513c7fe3123e0b1d531e668421c)
obj/Debug/netcoreapp3.1/Proyecto_Desarrollo_de_Sistemas.dll (HEAD vs. b23cbe2493b04513c7fe3123e0b1d531e668421c)
obj/Debug/netcoreapp3.1/Proyecto_Desarrollo_de_Sistemas.csprojAssemblyReference.cache (HEAD vs. b23cbe2493b04513c7fe3123e0b1d531e668421c)
bj/Debug/netcoreapp3.1/Proyecto_Desarrollo_de_Sistemas.Views.pdb (HEAD vs. b23cbe2493b04513c7fe3123e0b1d531e668421c)
obj/Debug/netcoreapp3.1/Proyecto_Desarrollo_de_Sistemas.Views.dll (HEAD vs. b23cbe2493b04513c7fe3123e0b1d531e668421c)
bin/Debug/netcoreapp3.1/Proyecto_Desarrollo_de_Sistemas.pdb (HEAD vs. b23cbe2493b04513c7fe3123e0b1d531e668421c)
bin/Debug/netcoreapp3.1/Proyecto_Desarrollo_de_Sistemas.dll (HEAD vs. b23cbe2493b04513c7fe3123e0b1d531e668421c)
bin/Debug/netcoreapp3.1/Proyecto_Desarrollo_de_Sistemas.Views.pdb (HEAD vs. b23cbe2493b04513c7fe3123e0b1d531e668421c)
bin/Debug/netcoreapp3.1/Proyecto_Desarrollo_de_Sistemas.Views.dll (HEAD vs. b23cbe2493b04513c7fe3123e0b1d531e668421c)
.vs/Proyecto_Desarrollo_de_Sistemas/v16/.suo (HEAD vs. b23cbe2493b04513c7fe3123e0b1d531e668421c)
.vs/Proyecto_Desarrollo_de_Sistemas/DesignTimeBuild/.dtbcache.v2 (HEAD vs. b23cbe2493b04513c7fe3123e0b1d531e668421c)
