@model Proyecto_Desarrollo_de_Sistemas.Models.usuario
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Bootstrap/bootstrap-grid.css" rel="stylesheet" />
    <script src="~/Bootstrap/bootstrap.js"></script>
</head>
<body>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3  border">
                <div class="container">
                    <h4>Profile Photo</h4>
                    <img src="\images\foto.jpg" class="rounded-circle" alt="texto" width="150" height="150" />
    </div>

            </div>

            <div class="col-sm-9 bg-dark text-white border">
                <h4>Profile Data</h4>
            </div>
        </div>
    </div>
    @*<div>
            <style>
                table, th, td {
                    border: 1px solid;
                }
            </style>
            <img src="~/imagenes/background.jpg" class="bg" />
            <div class="row">
                <div class="col-md-4">
                    <div id="cuadro">
                        <p>Cédula: @Proyecto_Desarrollo_de_Sistemas.Models.usuario.tablamain.Rows[0][1]</p>
                    </div>
                    <div id="cuadro">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div id="cuadro">
                        <p>Nombre: @Proyecto_Desarrollo_de_Sistemas.Models.usuario.tablamain.Rows[0][2]</p>
                    </div>
                    <div id="cuadro">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div id="cuadro">
                        <p>Primer Apellido: @Proyecto_Desarrollo_de_Sistemas.Models.usuario.tablamain.Rows[0][3]</p>
                    </div>
                    <div id="cuadro">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div id="cuadro">
                        <p>Segundo Apellido: @Proyecto_Desarrollo_de_Sistemas.Models.usuario.tablamain.Rows[0][4]</p>
                    </div>
                    <div id="cuadro">
                    </div>
                </div>
            </div>
        </div>*@
</body>
</html>